.ChatWindow {
  display: flex;
  width: 100%;
  height: inherit;
  justify-content: center;
  min-width: 600px;
}

.ChatWindow__Left {
  width: 300px;
  height: 800px;
  background-color: #7da7f1;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.ChatWindow__Right {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  width: 50%;
  height: inherit;
}

.ChatWindow__ShowOnline {
  align-self: flex-end;
  width: 60px;
  height: 60px;
  position: relative;
  top:-7px;
  justify-content: center;
  align-items: center;
  display: none;
  cursor: pointer;
}

.ChatWindow__ShowOnline span {
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: black;

}

.ChatWindow__ShowOnline:after,
.ChatWindow__ShowOnline:before {
  position: absolute;
  content: "";
  width: 30px;
  height: 4px;
  background-color: black;
}

.ChatWindow__ShowOnline:after {
  top: 40px;
}

.ChatWindow__ShowOnline:before {
  top: 16px;
}

.ChatWindow__Messages {
  padding-left: 15px;
  height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}

.ChatWindow__SendMessage {
  position: relative;
  border-top: 1px solid #94a6f1;
  height: 100px;
  padding: 10px;
}

.ChatWindow__SendMessage textarea {
  width: 400px;
  height: 100px;
  resize: none;
  overflow-y: auto;
  font-size: 20px;
}

.ChatWindow__SendMessage button {
  position: absolute;
  top: 60px;
  margin-left: 5px;
  width: 200px;
  height: 50px;
  background-color: #3674ff;
  border: 0;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  outline: none;
  transition: all 0.3s ease;
}

.ChatWindow__SendMessage button:hover {
  background-color: mediumblue;
}

.ChatWindow__Header {
  display: flex;
  position: relative;
  min-width: inherit;
  border-bottom: 2px solid #94a6f1;
  height: 50px;
}

.ChatWindow__X {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ChatWindow__X:after,
.ChatWindow__X:before {
  position: absolute;
  width: 40px;
  height: 10px;
  background-color: black;
  content: "";
}

.ChatWindow__X:after {
  transform: rotate(45deg);
}

.ChatWindow__X:before {
  transform: rotate(-45deg);
}

@media (max-width: 1000px ) {
  .ChatWindow__SendMessage {
    display: flex;
    flex-direction: column;

    & button {
      top: 95px;
      margin-left: 0;
    }
  }

  .ChatWindow__Messages {
    height: 500px;
  }

}

@media (max-width: 900px ) {
  .ChatWindow__Left {
    display: none;
  }

  .ChatWindow__Left_active {
    margin: 5px 0;
    position: absolute;
    width: 550px;
    padding-bottom: 10px;
    background-color: dimgray;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 10px;
  }

  .ChatWindow__ShowOnline {
    display: flex;
  }
}

@media (max-width: 800px) {
  .ChatWindow {
    justify-content: flex-start;
    width: auto;
    padding-left: 10px;
  }

  .ChatWindow__Right {
    width: 70%;
  }

  .ChatWindow__Messages {
    padding: 0;
  }
}



